# Bungie API credentials
Config/app-config.json
*.secret
.env
Data/bungie_token.json

# PowerShell sensitive files
secrets/
credentials/

# Large Files
manifest.json

# Personalised data
Data/
*_gear.json
gear_collection.*